node_modules/
.next/
out/
.env
.env.local
*.tsbuildinfo
.DS_Store
.vercel
.env*
*.env
!.env.example
node_modules

.vercel
.env*

*.zip

# Never upload these
*recovery*
*Backup Code*
.env*
!.env.example
